@model Livro
<div class="row justify-content-md-center">
    <form asp-action="Cadastro" method="POST" id="script_newlivro" class="col-md-4">
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="Titulo">Titulo</label>
            <input asp-for="Titulo" class="form-control" id="tituloLivro">
        </div>
        <div class="form-group">
            <label asp-for="Autor">Autor</label>
            <input asp-for="Autor" class="form-control" id="autorLivro">
        </div>
        <div>
            <label asp-for="Ano">Ano</label>
            <input asp-for="Ano" id="anoLivro"/>
        </div>
        <input type="submit" value="Salvar" class="btn btn-primary">
    </form>
</div>

<script>
    document.getElementById("script_newlivro").addEventListener("submit", function validateNewLivro(e)
    {
        var titLiv = document.getElementById("tituloLivro").value;
        var autLiv = document.getElementById("autorLivro").value;
        var anoLiv = document.getElementById("anoLivro").value;
        var errors = "";

        if (titLiv.trim() === "")
        {
            errors = errors + "Título do livro.\n";
        }

        if (autLiv.trim() === "")
        {
            errors = errors + "Autor do livro.\n";
        }

        if (anoLiv.trim() === "")
        {
            errors = errors + "Ano de publicação do livro.\n";
        }
        
        if (errors != "")
        {
            alert("Existem campos obrigatórios que não foram preenchidos:\n\n" + errors);
            e.preventDefault();
        }
    });
</script>