@{
    ViewData["Title"] = "Login";
}
<!--<div class="container">-->
    <div class="row justify-content-md-center">
        <div class="jumbotron col-6">
            <h1>Bem vindo ao sistema Biblioteca</h1>
            <br>
            <p class="text-danger">Página de acesso restrito a administradores. Faça <a asp-controller="Home" asp-action="Login">login</a> como administrador para acessar a página.</p>
        </div>
    </div>